{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
  integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <center>
    <h1>Ammo Tracker</h1>
    <br />
    <br />
    <div>
      <b>Add new caliber</b>
      <div id="addedField"></div>
      <input type="text" id="addCaliber" name="Caliber" />
      <button id="addCaliberBTN">Add Caliber</button>
    </div>
    <br />
    <br />
    <table class="table" id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Caliber</th>
          <th>Ammount</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
    <div>
      <div id="addArea">
        <b>Add Ammo</b>
        <div id="adding-msg"></div>
        <select id="dropdown">
          <option value="7.62x39mm">7.62x39mm</option>
          <option value="6.5 Grendel">6.5 Grendel</option>
          <option value="30-06">30-06</option>
          <option value="22LR">22LR</option>
          <option value="9mm">9mm</option>
        </select>
        <input type="text" id="inputField" name="Amount" />
        <button type="button" id="addBtn">Add</button>
        <h1 id="error-msg">Error: Please enter a number</h1>
      </div>
      <br />
      <br />
      <div id="removeArea">
        <b>Remove Ammo</b>
        <div id="removing-msg"></div>
        <select id="dropdown2">
          <option value="7.62x39mm">7.62x39mm</option>
          <option value="6.5 Grendel">6.5 Grendel</option>
          <option value="30-06">30-06</option>
          <option value="22LR">22LR</option>
          <option value="9mm">9mm</option>
        </select>
        <input type="text" id="removeField" name="Amount" />
        <button type="button" id="removeBtn">Remove</button>
        <h1 id="error-msg">Error: Please enter a number</h1>
      </div>
    </div>
  </center>
</div>
<br />
<br />
<br />

<script>
  $(document).ready(function () {
    $.ajax({
      url: "/pullData",
      type: "GET",
      contentType: "application/json",
      dataType: "JSON",
      success: function (response) {
        console.log(response);
        for (key in response) {
          console.log(response[key]);
          document.getElementById("table-body").innerHTML += `<tr>
              <td>${response[key][0]}</td>
              <td>${response[key][1]}</td>
              <td>${response[key][2]}</td></tr>`;
        }
      },
    });
    let drop_option;
    let inputField;

    document.getElementById("addBtn").addEventListener("click", function () {
      drop_option = $("#dropdown").val();
      inputField = $("#inputField").val();
      //inputField = String(inputField);
      if (inputField.includes("-")) {
        inputField = inputField.replace("-", "");
      }
      inputField = Number(inputField);

      document.getElementById(
        "adding-msg"
      ).innerHTML = `<h2>Adding ${inputField} bullets to ${drop_option}</h2>`;

      $.ajax({
        url: "/add-db",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({ caliber: drop_option, count: inputField }),
        success: function (response) {
          console.log("yes");
          console.log(response);
          document.getElementById("table-body").innerHTML = "";

          $.ajax({
            url: "/pullData",
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
              for (key in response) {
                console.log(response[key]);
                document.getElementById("table-body").innerHTML += `<tr>
                        <td>${response[key][0]}</td>
                        <td>${response[key][1]}</td>
                        <td>${response[key][2]}</td></tr>`;
              }
            },
          });
        },
      });
    });

    document.getElementById("removeBtn").addEventListener("click", function () {
      drop_option = $("#dropdown2").val();
      inputField = $("#removeField").val();
      //inputField = String(inputField);
      if (inputField.includes("-")) {
        inputField = inputField.replace("-", "");
      }
      inputField = Number(inputField);

      document.getElementById(
        "removing-msg"
      ).innerHTML = `<h2>Removing ${inputField} bullets to ${drop_option}</h2>`;

      $.ajax({
        url: "/remove-db",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({ caliber: drop_option, count: inputField }),
        success: function (response) {
          console.log("yes");
          console.log(response);
          document.getElementById("table-body").innerHTML = "";

          $.ajax({
            url: "/pullData",
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
              for (key in response) {
                console.log(response[key]);
                document.getElementById("table-body").innerHTML += `<tr>
                        <td>${response[key][0]}</td>
                        <td>${response[key][1]}</td>
                        <td>${response[key][2]}</td></tr>`;
              }
            },
          });
        },
      });
    });

    document
      .getElementById("addCaliberBTN")
      .addEventListener("click", function () {
        let caliberField = $("#addCaliber").val();
        console.log(caliberField);
        $.ajax({
          url: "/addCaliber",
          type: "POST",
          dataType: "JSON",
          contentType: "application/json",
          data: JSON.stringify(caliberField),
        });
        console.log("test");
        document.getElementById("addedField").style.display = "";
        document.getElementById(
          "addedField"
        ).innerHTML = `<h2>Added ${caliberField} to table.</h2>`;

        $.ajax({
          url: "/pullData",
          type: "GET",
          contentType: "application/json",
          dataType: "JSON",
          success: function (response) {
            for (key in response) {
              console.log(response[key]);
              document.getElementById("table-body").innerHTML += `<tr>
                        <td>${response[key][0]}</td>
                        <td>${response[key][1]}</td>
                        <td>${response[key][2]}</td></tr>`;
            }
          },
        });
      });
  });
</script>

<style>
  #addedField > h2 {
    color: greenyellow;
  }

  #error-msg {
    color: red;
    display: none;
  }
</style>
{% endblock %}
